CATALOG_DB_USER=catalog
CATALOG_DB_PASSWORD=<your-password>
CATALOG_DB_NAME=catalog_db

KEYWORD_DB_USER=keyword
KEYWORD_DB_PASSWORD=<your-password>
KEYWORD_DB_NAME=keyword_db

SEMANTIC_DB_USER=semantic
SEMANTIC_DB_PASSWORD=<your-password>
SEMANTIC_DB_NAME=semantic_db
